.jumbotron {
  background-color: blue;
  border: 3px solid black;
  padding: 2px; 
}

#projects {
  background-color: yellow;
}

.card-body1 {
  border: 3px solid black;
  padding: 2px;
  margin-bottom: 2px;
}

.skill {
  background-color: yellow;
}

.card-body2 {
  border: 2px solid black;
  padding: 2px;
  margin-top: 2px;
  float: left;
}

img {
  border: 3px solid black;
  padding: 2px;
}

.sidebar {
  float: right;
  border: 2px solid black;
  padding: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 25%;
}