.jumbotron {
  background-color: blue;
  border: 3px solid black;
  padding: 2px; 
}

.card-body1 {
  border: 3px solid black;
  padding: 2px;
  margin-bottom: 2px;
  background-color: #f8481c;
}

#skill-highlight {
  background-color: yellow;
}

.card-body2 {
  border: 3px solid black;
  padding: 2px;
  margin-top: 2px;
  float: left;
}

img {
  border: 3px solid black;
  padding: 2px;
}

.card-body3 {
  float: right;
  border: 3px solid black;
  padding: 2px;
  margin-top: 2px;
  background-color: gray;
}

.interest {
  background-color: yellowgreen;
}

.hobby {
  background-color: yellowgreen;
}

#introduction {
  color: aqua;
}

body {
  background-color: black;
}